<div class="sidebar">
    <div class="logo">
      <i class="fa-solid fa-graduation-cap fa-xl"></i>
      <h2 class="logo-name">StudentGuider</h2>
    </div>
    <hr>
    <ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active "  href="index.html">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pyq.html">PYQ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="about.html">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="profile.html"  >Profile</a>
  </li>
</ul>
<div class="login-btn-bottom">
  <button class="login-button" id="authBtn" >Login</button>
</div>
</div>